# Device: {{ device }} - {{ device_ip }}

{% if vendor == "extreme" -%}

{% if (service_type == 'bso-bb') -%}
{% include 'jinja/dot3ah-filter.j2' %}
{% include 'jinja/bb-qos-pe-only.j2' -%}
{% endif -%}

{% include 'jinja/vlan.j2' -%}

{% if (service_type == 'bso-bb') -%}
{% include 'jinja/bb-vman-qos-all.j2' -%}
{% include 'jinja/bb-qos-customer-facing-only.j2' -%}
{% endif -%}

{% if ((service_type == 'vpls') or (service_type == 'vpws')) -%}
{% include 'jinja/l2vpn.j2' -%}
{% endif -%}

{% include 'jinja/monitor.j2' -%}

{% elif vendor == "juniper" -%}

{% include 'jinja/juniper_DIA.j2' -%}

{% endif %}