interfaces {
    {% for port in ports -%}
    {{ port.name[0] }} {
        unit {{ port.vlan }} {
            {% if port.type == 'cloud' -%}
            description "{{ port.description }} - to {{ group_ebgp }}";
            {% else -%}
            description "{{ port.description }} - to {{ port.peer }}";
            {% endif -%}
            vlan-id {{ port.vlan }};
            family inet {
                mtu 1500;
                address {{ port.address }};
            }
        }
    }
    {% endfor -%}
    lo0 {
        unit {{ so }}
            family inet {
                filter {
                    input LOOPBACK-C2C;
                }
                address {{ loopback }};
            }
        }
    }

routing-instances {
    {{ routing_instance }} {
        instance-type virtual-router;
        {% for port in ports -%}
        interface {{ port.name[0] }}.{{ port.vlan }};
        {% endfor -%}
        interface lo0.{{ so }};
        routing-options {
            router-id {{ loopback }};
            autonomous-system 4455;
        }
        protocols {
            bgp {
                family inet {
                    unicast {
                        loops 2;
                    }
                }
            	group {{ group_ebgp }} {
                    description {{ service_name }};
                    type external;
                    import eBGP-IMPORT;
                    export eBGP-EXPORT;
                    local-as {{ local_as }};
                    peer-as {{ peer_as }};
                    {% for neighbor in neighbor_ebgp -%}
                    neighbor {{ neighbor.address }} {
                        description "{{ neighbor.description }}";
                        authentication-key {{ neighbor.auth_key }}; ## SECRET-DATA
                    }
                {% endfor -%}
            	}
            	group {{ group_ibgp }} {
                    type internal;
                    description {{ service_name }};
                    local-address {{ loopback }};
                    advertise-peer-as;
                    import LOLAC2C-INTERNAL-IMPORT;
                    export LOLAC2C-INTERNAL-EXPORT;
                    {% for neighbor in neighbor_ibgp -%}
                    neighbor {{ neighbor.loopback }} {
                        description "{{ neighbor.description }}";
                    }
                    {% endfor -%}
            	}
            }
            ospf {
                area 0.0.0.0 {
                    {% for port in ports -%}
                    {% if port.type == 'internal' -%}
                    interface {{ port.name[0] }}.{{ port.vlan }} {
                        interface-type p2p;
                    }
                    {% elif port.type == 'cloud'  -%}
                    interface {{ port.name[0] }}.{{ port.vlan }} {
                        passive;
                    }
                    {% endif -%}
                    {% endfor -%}
                    interface lo0.{{ so }} {
                        passive;
                    }
                }
            }
        }
    }
}

{% if policy_conf -%}
{% include 'c2c_policy.j2' %}
{% endif -%}

{% if firewall_conf -%}
{% include 'c2c_firewall.j2' %}
{% endif -%}
