firewall {
    family inet {
        filter OOBX {
            term allow-any-MGMT {
                from {
                    source-prefix-list {
                        MGMT-IXREACH;
                        C2C-MGMT;
                    }
                }
                then {
                    count allow-any-MGMT;
                    accept;
                }
            }
            term allow-bgp-neighbors {
                from {
                    source-prefix-list {
                        configured-bgp-neighbors;
                        configured-bgp-instance-neighbors;
                        configured-bgp-routing-instance-neighbors;
                    }
                    protocol tcp;
                    port bgp;
                }
                then {
                    count allow-bgp-neighbors;
                    accept;
                }
            }
            term allow-icmp {
                from {
                    protocol icmp;
                    icmp-type [ echo-request echo-reply unreachable time-exceeded ];
                }
                then {
                    policer LOOPBACK-limit-unsolicited;
                    count allow-icmp;
                    accept;
                }
            }
            term discard-telnet {
                from {
                    protocol tcp;
                    port 23;
                }
                then {
                    count discard-telnet;
                    log;
                    discard;
                }
            }
            term discard-ssh {
                from {
                    protocol tcp;
                    port 22;
                }
                then {
                    count discard-ssh;
                    log;
                    discard;
                }
            }
            term discard-snmp {
                from {
                    protocol udp;
                    port 161;
                }
                then {
                    count discard-snmp;
                    log;
                    discard;
                }
            }
            term discard-ntp {
                from {
                    protocol [ tcp udp ];
                    port 123;
                }
                then {
                    count discard-ntp;
                    log;
                    discard;
                }
            }
            term allow-traceroute {
                from {
                    protocol udp;
                    destination-port 32768-65535;
                }
                then {
                    policer LOOPBACK-limit-unsolicited;
                    count allow-traceroute;
                    reject port-unreachable;
                }
            }
            term deny-other {
                then {
                    count discard-other;
                    log;
                    discard;
                }
            }
        }
    }
}