set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL neighbor 46.18.174.14 description TRS/LON/IXR-11805
set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL neighbor 46.18.174.14 import CUSTOMER-AIRBROADBAND-IN
set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL neighbor 46.18.174.14 family inet unicast prefix-limit maximum 4
set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL neighbor 46.18.174.14 export FULL-TABLE
set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL neighbor 46.18.174.14 peer-as 204269


set policy-options policy-statement CUSTOMER-AIRBROADBAND-IN term ALLOW from policy CUSTOMER-IN
set policy-options policy-statement CUSTOMER-AIRBROADBAND-IN term ALLOW from route-filter 185.116.112.0/23 orlonger
set policy-options policy-statement CUSTOMER-AIRBROADBAND-IN term ALLOW from route-filter 185.116.114.0/23 orlonger
set policy-options policy-statement CUSTOMER-AIRBROADBAND-IN term ALLOW then accept
set policy-options policy-statement CUSTOMER-AIRBROADBAND-IN then reject

set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL-V6 neighbor 2a02:27f0:2:353::1 description TRS/LON/IXR-11805
set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL-V6 neighbor 2a02:27f0:2:353::1 import CUSTOMER-AIRBROADBAND-V6-IN
set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL-V6 neighbor 2a02:27f0:2:353::1 family inet6 unicast prefix-limit maximum 2
set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL-V6 neighbor 2a02:27f0:2:353::1 export FULL-TABLE
set routing-instances NON-PREMIUM protocols bgp group CUSTOMER-FULL-V6 neighbor 2a02:27f0:2:353::1 peer-as 204269

set policy-options policy-statement CUSTOMER-AIRBROADBAND-V6-IN term ALLOW from policy CUSTOMER-IN
set policy-options policy-statement CUSTOMER-AIRBROADBAND-V6-IN term ALLOW from route-filter 2a05:7a80::/29 orlonger
set policy-options policy-statement CUSTOMER-AIRBROADBAND-V6-IN term ALLOW then accept
set policy-options policy-statement CUSTOMER-AIRBROADBAND-V6-IN then reject

set interfaces lt-0/1/0 unit 2714 family inet6 mtu 1500
set interfaces lt-0/1/0 unit 2714 family inet6 address 2a02:27f0:2:355::1/64

interfaces {
    {{ ports[0].name[0] }} {
        unit {{ vlan }} {
            description {{ service_name }};
            encapsulation ethernet;
            peer-unit 5{{ vlan }};
            family inet {
                mtu 1500;
                address {{ ip_address_v4 }};
            }
            family inet6 {
                mtu 1500;
                address {{ ip_address_v6 }};
            }
        }
        unit 5{{ vlan }} {
            encapsulation ethernet-ccc;
            peer-unit {{ vlan }};
        }
    }
}

protocols {
    l2circuit {
        neighbor {{ peers_ip[0] }} {
            interface {{ ports[0].name[0] }}.5{{ vlan }} {
                virtual-circuit-id {{ vlan }};
            }
        }
    }
}

routing-instances {
    NON-PREMIUM {
        interface {{ ports[0].name[0] }}.{{ vlan }};
    }
}

routing-instances {
    NON-PREMIUM {
        protocols {
            bgp {
            	group CUSTOMER-FULL {
                    neighbor 31.217.131.166 {
                        description ContingencyNetworks:GCC.LON-V207:Internet;
                        import CUSTOMER-CONTINGENCY-IN;
                        family inet {
                            unicast {
                                prefix-limit {
                                    maximum 100;
                                    teardown idle-timeout 60;
                                }
                            }
                        }
                        export FULL-TABLE-WITH-DEFAULT;
                        peer-as 21339;
                    }
            	}
            	group CUSTOMER-FULL-V6 {
                    neighbor 2001:7f8:4::8495:1 {
                        description Gconnect;
                        family inet6 {
                            unicast {
                                prefix-limit {
                                    maximum 15;
                                    teardown idle-timeout 60;
                                }
                            }
                        }
                        peer-as 33941;
                    }
            	}
            }
        }
    }
}

policy-options {
	policy-statement CUSTOMER-DATATECH-IN {
        term ALLOW {
            from {
                policy CUSTOMER-IN;
                route-filter 212.74.32.0/19 upto /24;
                route-filter 91.246.26.0/23 upto /24;
                route-filter 5.199.0.0/17 upto /24;
            }
            then accept;
        }
        then reject;
    }
    policy-statement CUSTOMER-DATATECH-V6-IN {
        term ALLOW {
            from {
                policy CUSTOMER-IN;
                route-filter 2a00:17f8::/32 upto /48;
            }
            then accept;
        }
        then reject;
    }
}